.signup {
    width: 20%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid rgb(192, 143, 143);
    border-radius: 50px;
    /* margin-left: 5px;
    padding-bottom: 20px; */
  }
  
  .signup-form {
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
  }
  