.images-card-container {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

  }
  
  .image-display {
    max-width: 50%;
    max-height: 50;
    height: auto;
    border-radius: 8px;
  }